:root {
  --main-bg: #0d1f22;
  --platinum: #eaeaea;
  --opal: #93b7be;
  --jet: #363636;
  --gunmetal: #242f40;
}

body {
  background-color: var(--gunmetal);
  color: var(--platinum);
  font-family: "Raleway", sans-serif;
}

.btns-div {
  text-align: center;
  height: 50px;
  width: auto;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.links:hover,
.card-link:hover {
  background-color: white;
  color: #1d1d1c;
}

.links,
.card-link {
  background-color: var(--gunmetal);
  color: var(--platinum);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
}

.links {
  height: auto;
  width: auto;
  border-radius: 10%;
}

.card-link {
  background-color: var(--gunmetal);
  color: var(--platinum);
}

#title {
  margin-top: 5rem;
  margin-left: 5rem;
}

#container {
  width: 90%;
  margin-left: 5;
  margin-right: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10rem;
}

.project-card {
  width: 40rem;
  height: auto;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 2rem;
}

.titles {
  margin: 1rem;
}

#footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 200px) {
  #title {
    margin-left: 10px;
    margin-right: 10px;
  }
  #name {
    font-size: xx-large;
  }
  #container {
    margin-left: 0px;
  }
  .project-card {
    width: 90%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 2rem;
  }
  .titles {
    font-size: large;
  }
}

@media (min-width: 300px) {
  #title {
    margin-left: 10px;
  }
  #name {
    font-size: xx-large;
  }
  .project-card {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 2rem;
  }
  .titles {
    font-size: large;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #title {
    margin-left: 50px;
  }
  .project-card {
    width: 45%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 2rem;
  }
}
